:root {
    --bg-color: #0000aa;
    --text-color: #b3b3b3;
}

html {
  font-size: 1.2em;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: courier;
}

h1 {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  background: var(--text-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
    text-align: left;
    width: 100%;
}

.footer p {
    text-align: center;
}

a,a:hover {
    color: inherit;
    font: inherit;
}

.content {  
    border: 1px solid var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    max-width: 700px;
    margin: auto;
}

.menu {
  text-align: center;
  margin-top: 50px;
  list-style: none;
  
  li {
    &::before {
      content: none;
    }

    display: inline;
  }
}
