:root {
    --color: #99CBB2;
    --background: white ;
    --size: 1;
    --animation: terminal-blink;
}

.terminal {
    --color: rgba(0, 0, 0, 0.99);
    --background: var(--background);
    --animation: terminal-bar;
    --size: 1.1;
    height: auto;
}

body.full-screen-terminal .terminal {
    height: 400px;
}

body {
    background: white;
}

.terminal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid var(--color);
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    body.full-screen-terminal .terminal {
        height: 100dvh;
    }

    .terminal {
        width: 100dvw;
        position: initial;
        transform: none;
	--color: rgba(255, 255, 255, 0.99);
        --background: black;
    }
    
    body {
	background: black;

}

html, body {
	margin: 0;
}
    
}
