:root {
    --pad : 10px;
    --mar : 5px;
}

body html {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Courier, monospace;
}

p {
    margin: 0;
}

img {
    display: block;
}

h1 {
    margin: 0;
}

h4 {
    margin-left: var(--pad);
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    margin-top: 15px;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}

.icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontainer {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    border-right : 1px solid black;
    gap: 1vh;
}

.content {
    padding: var(--pad);
    padding-top: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: var(--mar);
    align-items: center;
    max-width: 500px;
    padding: 1px;
}

.side {
    display: flex;
    padding-top: 20px;
    margin-top: var(--mar);
    flex-direction: column;
    align-items: center;
    padding: var(--pad);
    max-width: 200px;
}

.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff; /* Set background color as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -9999; /* Ensure it's on top of other elements */
    opacity: 0; /* Initial opacity */
    transition: opacity 1s ease; /* Smooth transition effect */
}

.splash-container img {
    width: 500px;
    height: auto;
}


.splash-hidden {
    opacity: 0;
    pointer-events: none; /* Disable pointer events while hidden */
}

@media screen and (max-width: 600px) {
    .maincontainer {
        flex-direction: column;
        gap: 0
    }
    p {
        font-size: 12px;
    }

}
